
<!DOCTYPE html>
<html>
<head>
    <title>Weather App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Weather Appp</h1>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
